<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HugBotty.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <HugBotty.Properties.Settings>
            <setting name="channel" serializeAs="String">
                <value />
            </setting>
            <setting name="server" serializeAs="String">
                <value>irc.twitch.tv</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="oAuth" serializeAs="String">
                <value />
            </setting>
            <setting name="hugName" serializeAs="String">
                <value>HugPoint</value>
            </setting>
            <setting name="hugShort" serializeAs="String">
                <value>hug</value>
            </setting>
            <setting name="giftEvery" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="giftReward" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="costofHug" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="followReward" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="transferHugs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="givePointsOnFollow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="welcomeNewViewers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="giftUsers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hugbotGivesHugs" serializeAs="String">
                <value>False</value>
            </setting>
        </HugBotty.Properties.Settings>
    </userSettings>
</configuration>